.mainContext {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

.status {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: grey;
}
